.idea
Gemfile.lock
ext/nmatrix/dense/daxpy.c
ext/nmatrix/dense/dgeco.c
ext/nmatrix/dense/dgefa.c
ext/nmatrix/dense/dgemm.c
ext/nmatrix/dense/dgemv.c
ext/nmatrix/dense/dscal.c
ext/nmatrix/dense/idamax.c
ext/nmatrix/dense/467.c
ext/nmatrix/dense/*.f
ext/nmatrix/dense/transpose.txt
ext/nmatrix/yale/aicm.tex
tmp/
test.c
spec/*.mtx
*.so
/tags
*.gem
