*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
ext/*.o
ext/*.so
ext/Makefile
ext/mkmf.log
include/rb_gsl_config.h
tmp
lib/gsl.rb
lib/rbgsl.rb

# YARD artifacts
.yardoc
_yardoc
doc/

# RubyMine
.idea/
