language:
  ruby

rvm:
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libgsl0-dev
  - gem update bundler
  - bundle install
  - bundle exec rake compile
  - bundle exec rake test
